/* styles.css */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 1rem;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
  }
  
  .text {
    text-align: left;
    padding: 0 2rem;
  }
  
  .image {
    text-align: center;
    padding: 0 2rem;
  }
  .navbar_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .navbar_sections li a {
    display: flex;
    font-weight: 200;
    text-decoration: none;
    color: black;
  }