.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.image-container {
  flex: 1;
  padding: 20px;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
}

.text-container {
  flex: 2;
  padding: 20px;
}

.text-container h2 {
  margin-bottom: 10px;
}

.text-container p {
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: -webkit-linear-gradient(left, #1d233e, #32557E);
  height: 100%;
}

.btn_categoria {
  color: white;
}

.container_section h1 {
  color: white;
}

.conteudo p {
  color: white;
}

  .container .imagem-principal img {
    width: 900px;
    object-fit: cover;
    border-radius: 25px;
  }

  .imagem-principal{
    display: flex;
    justify-content: center;
  }

  .conteudo {
    padding: 0 10%;
  }

  .outras-imagens {
    margin-top: 25px;
    justify-content: left;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
  .outras-imagens img {
    display: block;
    margin-bottom: 10px;
    max-width: 15%;
    border-radius: 15px;
    height: auto;
  }