/* Estilos para o footer */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.newsletter {
    margin-top: 30px;
    margin-bottom: 30px;
}

.newsletter h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.newsletter p {
    font-size: 1em;
    margin-bottom: 15px;
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}

.newsletter input[type="submit"] {
    padding: 10px 20px;
    background-color: #32557e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter input[type="submit"]:hover {
    background-color: #32557e;
}

.desenvolvedores p {
    font-size: 0.9em;
    color: #777;
}
